# NODE (pnpm)
node_modules/
.pnpm-debug.log*
npm-debug.log*


# TURBOREPO & METRO BUNDLER
.turbo/
turbo*.log
.metro-health-check*
.expo-shared/

# APP EXPO (CNG)
.expo/
apps/*/android/
apps/*/ios/
apps/*/dist/

# TESTING & COVERAGE
coverage/
*.lcov

# ANDROID NATIVE & GRADLE
.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IDE & KEYSTORE & SECRETS
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
.env
.env.local
.DS_Store
.eslintcache
